/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  padding: 20px;
  height: 100%;
  margin: auto;
}

.error-message {
  margin: 2px auto;
  text-transform: capitalize;
  width: 90%;
  background-color: red;
  padding: 2px;
  border: 2px solid black;
  border-radius: 5px; 
  text-align: center;
}

.credentials-container {
  margin: auto;
  padding: 40px;
  border-radius: 5px;
  border: 2px solid brown;
  box-shadow: 0px 10px 20px black;
  width: 300px;
  background-color: rosybrown;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* .credentials-container {
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
} */

.button {
  background-color: #cbeff5; /* Blue */
  border: none;
  border-radius: 4px;
  color: black;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.2s;
  width: 120px;
  height: 60px;
}

.button:hover {
  background-color: #24d5f2;
  color: white;
}

.button-type-1 {
  background-color: #cbeff5; /* Blue */
  border: none;
  border-radius: 64px;
  color: black;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 42px;
  transition-duration: 0.2s;
  width: 300px;
  height: 100px;
}

.button-type-1:hover {
  background-color: #24d5f2;
  color: white;
}

.button-type-2 {
  background-color: #e7e7e7; /* Gray */
  border: none;
  border-radius: 4px;
  color: black;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.2s;
  width: 80px;
  height: 60px;
}

.button-type-2:hover {
  background-color: #9b9e9c;
  color: white;
}

.button-type-3 {
  background-color: #e7e7e7; /* Gray */
  border: none;
  border-radius: 4px;
  color: black;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.2s;
  width: 100%;
  margin-top: 10px;
}

.button-type-3:hover {
  background-color: #9b9e9c;
  color: white;
}

.header {
  background-color: goldenrod;
  border-bottom: 5px solid indianred;
  margin: -10px;
  margin-bottom: 10px;
  padding: 10px 10px;
}

.navigation-bar {
  background-color: orange;
  border-bottom: 5px solid indianred;
  margin: -10px;
  margin-bottom: 10px;
  padding: 10px 10px;
  text-align: right;
}

.page-title {
  margin: 0;
  padding-top: 20px;
  text-align: center;
}

.ruled-line {
  border: 5px solid indianred;
  border-radius: 5px;
}

.profile-picture-on-newsfeed {
  width: 50px;
  height: 50px;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
}