.comment-container {
    background-color: rgb(252, 182, 182);
    margin: 10px;
    padding: 2px 15px;
    border-radius: 5px;
    border: 1px solid goldenrod;
  }

.new-comment-form {
  margin: 0px;
  padding: 2px 15px;
}

.new-comment-box {
  width: 100%;
  resize: vertical;
  min-height: 3rem;
}

.new-comment-button{
  background-color: #e7e7e7; /* Gray */
  border: none;
  border-radius: 4px;
  color: black;
  padding: 7px 7px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  transition-duration: 0.2s;
  margin-top: 10px;
}

.new-comment-button:hover {
  background-color: #9b9e9c;
  color: white;
}
